// customisation instagram feeds 

#sb_instagram .sbi_header_text{
    h3{
        font-size: 26px;
    }
    .sbi_bio{
        font-size:16px;
    }
}  

#sb_instagram #sbi_load .sbi_load_btn{
    font-size:16px;
} 

#sb_instagram #sbi_load .sbi_follow_btn a{
    @extend .sbi_load_btn;
}