//  margin between articles category.php page

.category-cust .et_pb_post{

    margin-bottom:120px;
}

// sidebar customization

#sidebar .et_pb_widget li a:before{
        font-family: "ETmodules";
        font-size: 16px;
        font-weight: 800;
        content: "\45";

}